*{
  margin: 0;
  background-color:rgb(110, 0, 0) ;
  font-family: Helvetica, sans-serif;
  text-align: center;
  position: relative;
}

.appContainer {
  min-height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.table {
   display: grid;
   grid-template-columns: repeat(3,120px);
   justify-content: center;
   align-items: center;
   grid-gap: 5px;
   position: absolute;
}

.cells {
  width: 120px;
  height: 120px;
  border: 1px solid black; 
  display: flex;
  border-radius: 5px;
  font-size: 80px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  background-color:darkgrey;
}

.resultado {
  display: inline-block;
  bottom: 15.2em;
  position: relative;
  margin: 30px;
}

span {
  font-size: 50px;
}

button {
  margin-top: 10px;
  width: 120px;
  height: 40px;
  background-color: #3498db;
  border: none;
  border-radius: 0.3125rem;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: 300;
  top: 30rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-family: Arial Black;
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    
}